@media( max-width:1050px) {
    h1 {
        font-size: 3.5rem;
    }
    .facebookbox{
        width: 30vw;
    }
    .grid2 {
        grid-template-columns: 1fr;
    }
    .card {
        max-width: 60vw;
    }
}

@media( max-width:750px) {
    .header {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .facebookbox{
        width: 10vw;
        height: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .text{
        display: none;
    }
    
    h1 {
        font-size: 2rem;
    }
    .grid2 {
        grid-template-columns: 1fr;
    }
    .card {
        max-width: none;
    }
}