body {
    font-family: 'Mitr', sans-serif;
    background-color: #fff;
}

header {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo_ece {
    margin-top: 3vh;
    max-width: 50%;
    height: auto;
}

.img {
    height: auto;
    width: 90%;
}

.image-arrow {
    max-width: 20%;
    height: auto;
}

.footerClass {
    display: flex;
    /* width: 100vw; */
}

.footerClass .red {
    width: 77vw;
    text-align: center;
    background-color: rgb(140, 25, 28);
    color: white;
}

.footerClass .white {
    width: 3vw;
    background-color: white;
}

.footerClass .yellow {
    width: 20vw;
    background-color: rgb(255, 208, 79);
}

.grid2 {
    grid-template-columns: 1fr;
    align-items: start;
}

.pythonC {
    border-radius: 0;
    background-color: rgb(140, 25, 28);
}

@media( max-width:700px) {
    .card {
        max-width: 60vw;
    }
    .grid2 {
        grid-template-columns: 1fr;
        align-items: center;
    }
}